.cajas{
    border: 1px solid black;
    display: grid;
    /**Estudio el grid **/
    grid-template-columns: repeat(3, 300px);
    gap: 20px;
    
}
.caja{
    width: 300px;
    height: 300px;
    background-color: yellow;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 10px solid blue
}

.caja{
    float: left;
    max-width: 900px;
}
.caja{
    margin: 10px;
}

.caja{
    max-width: 960px;
}

.clearfix{
    float: none;
    clear: both;
}